body {
  background-color: #f4f4f5;
}
main {
  position: relative;
  /* height: 100vh; */
}

.App {
  margin-left: 7%;
  width: 92%;
}

h4 {
  font-size: 30px;
  color: black;
}

h6 {
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 10px;
}
main .helper {
  background: #ffffff;
  color: black;
  padding: 1.2em 1em;
  text-align: center;
  margin-right: -1%;
  font-size: 1.2em;
  font-weight: bold;
}
main .helper span {
  color: black;
  font-size: 0.5em;
  display: block;
}
.menu {
  background: #354052;
  height: 100vh;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  outline: none;
}
.menu .avatar {
  padding: 2em 0.5em;
  text-align: center;
}

.menu .avatar h2 {
  font-weight: normal;
  margin-bottom: 0;
}
.menu ul {
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
}
.menu ul li {
  padding: 0.5em 1em 0.5em 3em;
  font-size: 0.95em;
  color: white;
  font-weight: 700;
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: auto 20px;
  transition: all 0.15s linear;
  cursor: pointer;
}
.menu ul li.icon-aircraft {
  background-image: url("http://www.entypo.com/images/aircraft-take-off.svg");
}
.menu ul li.icon-aircraftDetails {
  background-image: url("http://www.entypo.com/images/aircraft.svg");
}
.menu ul li.icon-settings {
  background-image: url("http://www.entypo.com/images/log-out.svg");
}
.menu ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu ul li:focus {
  outline: none;
}
@media screen and (max-width: 900px) and (min-width: 400px) {
  .menu {
    width: 90px;
  }
  .menu .avatar {
    padding: 0.5em;
    position: relative;
  }
  .menu .avatar img {
    width: 60px;
  }
  .menu .avatar h2 {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 100px;
    margin: 0;
    min-width: 200px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
    transform: translate3d(-20px, -50%, 0);
    transition: all 0.15s ease-in-out;
  }

  .menu ul li {
    height: 60px;
    background-position: center center;
    background-size: 30px auto;
    position: relative;
  }
  .menu ul li span {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.2em 0.5em;
    border-radius: 4px;
    top: 50%;
    left: 80px;
    transform: translate3d(-15px, -50%, 0);
    transition: all 0.15s ease-in-out;
  }
  .menu ul li span:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
  }
  .menu ul li:hover span {
    opacity: 1;
    transform: translate3d(0px, -50%, 0);
  }
}
